@charset "UTF-8";
@import 'reset.css';
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  background-color: #181818;
  font-family: "Outfit", sans-serif;
}

.header {
  position: fixed;
  background-color: #181818;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.header__content {
  max-width: 1260px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header__content .logo__img {
  height: auto;
}
.header__content .btn {
  width: auto;
  height: 60px;
  padding: 16px 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  background-color: #954CED;
  border-radius: 16px;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.header__content .btn:hover {
  border: 2px solid #954CED;
  background-color: #181818;
}
.header__content .burger {
  display: none;
}
.header__content .burger svg {
  width: 30px;
  height: 30px;
  fill: #ffffff;
}
@media (max-width: 1366px) {
  .header__content {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (max-width: 1024px) {
  .header__content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__content .btn {
    display: none;
  }
  .header__content .burger {
    display: flex;
    fill: #ffffff;
  }
}

.main {
  height: 100vh;
}
.main .hero {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main .hero .hero-img {
  right: 0;
  bottom: 0;
  position: absolute;
}
@media (max-width: 1366px) {
  .main .hero .hero-img {
    width: 480px;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .main .hero .hero-img {
    width: 400px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .main .hero .hero-img {
    width: 300px;
    height: auto;
  }
}
.main .hero__content {
  max-width: 1260px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main .hero__content .title-block {
  width: 671px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}
.main .hero__content .title-block h1 {
  font-size: 96px;
  font-weight: 700;
  color: #ffffff;
  line-height: 106px;
}
@media (max-width: 1366px) {
  .main .hero__content .title-block h1 {
    font-size: 80px;
    line-height: 90px;
  }
}
@media (max-width: 768px) {
  .main .hero__content .title-block h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
.main .hero__content .title-block p {
  font-size: 20px;
  font-weight: 200;
  color: #ffffff;
}
@media (max-width: 768px) {
  .main .hero__content .title-block p {
    font-size: 16px;
    width: 100%;
  }
}
.main .hero__content .title-block .btn {
  width: 184px;
  height: 60px;
  padding: 16px 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  background-color: #954CED;
  border-radius: 16px;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.main .hero__content .title-block .btn:hover {
  border: 2px solid #954CED;
  background-color: #181818;
}
@media (max-width: 768px) {
  .main .hero__content .title-block .btn {
    width: 100%;
  }
}
@media (max-width: 1366px) {
  .main .hero__content .title-block {
    margin-top: 150px;
    width: 600px;
  }
}
@media (max-width: 768px) {
  .main .hero__content .title-block {
    width: 100%;
  }
}
@media (max-width: 1366px) {
  .main .hero__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 72px;
    padding-right: 72px;
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  .main .hero__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  .main .hero {
    height: 750px;
  }
}
.main .about {
  height: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
}
.main .about .about-img {
  left: 0;
  bottom: 0;
  position: absolute;
}
@media (max-width: 1280px) {
  .main .about .about-img {
    display: none;
  }
}
.main .about__content {
  max-width: 1260px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.main .about__content h1 {
  font-size: 96px;
  font-weight: 700;
  color: #ffffff;
  line-height: 106px;
}
@media (max-width: 1366px) {
  .main .about__content h1 {
    font-size: 80px;
    line-height: 90px;
  }
}
@media (max-width: 768px) {
  .main .about__content h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
.main .about__content .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 90px;
}
.main .about__content .info .subtitle {
  width: 410px;
  height: 140px;
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
}
.main .about__content .info .subtitle .circle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 355px;
  height: 35px;
  border-radius: 50px;
  background-color: #954CED;
  z-index: -1;
  transform: rotate(358deg);
}
.main .about__content .info .grid-container {
  display: grid;
  width: 692px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.main .about__content .info .grid-container .grid-item {
  padding: 0 20px;
  border-radius: 8px;
}
.main .about__content .info .grid-container .grid-item h3 {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
}
.main .about__content .info .grid-container .grid-item p {
  font-size: 24px;
  font-weight: 200;
  color: #ffffff;
}
.main .about__content .info .grid-container .grid-item img {
  max-width: 100%; /* чтобы изображение не выходило за пределы блока */
  height: auto; /* сохраняем пропорции */
}
@media (max-width: 1280px) {
  .main .about__content .info .grid-container {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .main .about__content .info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    margin-top: 45px;
  }
}
@media (max-width: 1366px) {
  .main .about__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 72px;
    padding-right: 72px;
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  .main .about__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1366px) {
  .main .about {
    margin-top: 60px;
  }
}
@media (max-width: 1024px) {
  .main .about {
    height: 750px;
  }
}/*# sourceMappingURL=styles.css.map */