@charset "UTF-8";
@import 'reset.css';
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  background-color: #181818;
  font-family: "Outfit", sans-serif;
}

.header {
  position: fixed;
  background-color: #181818;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.header__content {
  max-width: 1260px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header__content .logo__img {
  height: auto;
}
.header__content .btn {
  width: auto;
  height: 60px;
  padding: 16px 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  background-color: #954CED;
  border-radius: 16px;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.header__content .btn:hover {
  border: 2px solid #954CED;
  background-color: #181818;
}
.header__content .burger {
  display: none;
}
.header__content .burger svg {
  width: 30px;
  height: 30px;
  fill: #ffffff;
}
@media (max-width: 1366px) {
  .header__content {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (max-width: 1024px) {
  .header__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .header__content .btn {
    display: none;
  }
  .header__content .burger {
    display: flex;
    fill: #ffffff;
  }
}
.header .menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .menu .btn {
  width: auto;
  height: 60px;
  padding: 16px 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  background-color: #954CED;
  border-radius: 16px;
  border: 2px solid transparent;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .header .menu .btn {
    width: 100%;
  }
}
.header .menu .btn:hover {
  border: 2px solid #954CED;
  background-color: #181818;
}
.header .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.header .menu ul li {
  margin: 20px 0;
}
.header .menu ul li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}
.header .menu.active {
  display: flex;
  align-items: flex-start;
  padding: 0 20px;
  gap: 170px;
}
.header .menu .close {
  position: absolute;
  top: 25px; /* Расстояние от верхнего края */
  right: 20px; /* Расстояние от правого края */
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.header .menu .close svg {
  width: 32px;
  height: 32px;
  fill: #ffffff;
}

.main .hero {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main .hero .hero-img {
  right: 0;
  bottom: 0;
  position: absolute;
}
@media (max-width: 1366px) {
  .main .hero .hero-img {
    width: 480px;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .main .hero .hero-img {
    width: 400px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .main .hero .hero-img {
    width: 300px;
    height: auto;
  }
}
.main .hero__content {
  max-width: 1260px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main .hero__content .title-block {
  width: 671px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}
.main .hero__content .title-block h1 {
  font-size: 96px;
  font-weight: 700;
  color: #ffffff;
  line-height: 106px;
}
@media (max-width: 1366px) {
  .main .hero__content .title-block h1 {
    font-size: 80px;
    line-height: 90px;
  }
}
@media (max-width: 768px) {
  .main .hero__content .title-block h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
.main .hero__content .title-block p {
  font-size: 20px;
  font-weight: 200;
  color: #ffffff;
}
@media (max-width: 768px) {
  .main .hero__content .title-block p {
    font-size: 16px;
    width: 100%;
  }
}
.main .hero__content .title-block .btn {
  width: 184px;
  height: 60px;
  padding: 16px 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  background-color: #954CED;
  border-radius: 16px;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.main .hero__content .title-block .btn:hover {
  border: 2px solid #954CED;
  background-color: #181818;
}
@media (max-width: 768px) {
  .main .hero__content .title-block .btn {
    width: 100%;
  }
}
@media (max-width: 1366px) {
  .main .hero__content .title-block {
    margin-top: 150px;
    width: 600px;
  }
}
@media (max-width: 768px) {
  .main .hero__content .title-block {
    width: 100%;
  }
}
@media (max-width: 1366px) {
  .main .hero__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 72px;
    padding-right: 72px;
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  .main .hero__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  .main .hero {
    height: 750px;
  }
}
.main .about {
  height: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
}
.main .about .about-img {
  left: 0;
  bottom: 0;
  position: absolute;
}
@media (max-width: 1280px) {
  .main .about .about-img {
    display: none;
  }
}
.main .about__content {
  max-width: 1260px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.main .about__content h1 {
  font-size: 96px;
  font-weight: 700;
  color: #ffffff;
  line-height: 106px;
}
@media (max-width: 1366px) {
  .main .about__content h1 {
    font-size: 80px;
    line-height: 90px;
  }
}
@media (max-width: 768px) {
  .main .about__content h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
.main .about__content .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 90px;
}
.main .about__content .info .subtitle {
  width: 410px;
  height: 140px;
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
}
.main .about__content .info .subtitle .circle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 355px;
  height: 35px;
  border-radius: 50px;
  background-color: #954CED;
  z-index: -1;
  transform: rotate(358deg);
}
@media (max-width: 768px) {
  .main .about__content .info .subtitle .circle {
    width: 235px;
    height: 22px;
  }
}
@media (max-width: 768px) {
  .main .about__content .info .subtitle {
    font-size: 24px;
    font-weight: 500;
    width: 264px;
    height: 89px;
  }
}
.main .about__content .info .grid-container {
  display: grid;
  width: 692px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.main .about__content .info .grid-container .grid-item {
  border-radius: 8px;
}
.main .about__content .info .grid-container .grid-item h3 {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
}
@media (max-width: 768px) {
  .main .about__content .info .grid-container .grid-item h3 {
    font-size: 32px;
    font-weight: 700;
  }
}
.main .about__content .info .grid-container .grid-item p {
  font-size: 24px;
  font-weight: 200;
  color: #ffffff;
}
@media (max-width: 768px) {
  .main .about__content .info .grid-container .grid-item p {
    font-size: 16px;
    font-weight: 200;
  }
}
.main .about__content .info .grid-container .grid-item img {
  max-width: 100%; /* чтобы изображение не выходило за пределы блока */
  height: auto; /* сохраняем пропорции */
}
@media (max-width: 1280px) {
  .main .about__content .info .grid-container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .main .about__content .info .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
  }
}
@media (max-width: 1280px) {
  .main .about__content .info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
  }
}
@media (max-width: 1366px) {
  .main .about__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 72px;
    padding-right: 72px;
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  .main .about__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1366px) {
  .main .about {
    margin-top: 60px;
  }
}
@media (max-width: 768px) {
  .main .about {
    height: auto;
  }
}
.main .work {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
  overflow: hidden;
}
.main .work .mockup-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media (max-width: 768px) {
  .main .work .mockup-img {
    width: 228px;
    height: auto;
  }
}
.main .work__content {
  max-width: 1260px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.main .work__content .texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Центрирование по горизонтали */
  width: 100%;
  gap: 60px;
  position: relative;
}
.main .work__content .texts__container-1 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100vw;
  position: relative;
  left: -10vw; /* Перемещение за пределы браузера */
  animation: move-left-right 190s linear infinite;
}
.main .work__content .texts__container-1 .text-item-1,
.main .work__content .texts__container-1 .text-item-2 {
  font-size: 128px;
  font-weight: 700;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .main .work__content .texts__container-1 .text-item-1,
  .main .work__content .texts__container-1 .text-item-2 {
    font-size: 48px;
  }
}
.main .work__content .texts__container-1 .text-item-1 {
  color: #2FDBBC;
}
.main .work__content .texts__container-1 .text-item-2 {
  color: #181818;
  text-shadow: -1px -1px 0 #444444, 1px -1px 0 #444444, -1px 1px 0 #444444, 1px 1px 0 #444444; /* Контур */
  background-color: transparent; /* Без фона */
}
@keyframes move-left-right {
  0% {
    transform: translateX(-70%); /* Начальная позиция (слева) */
  }
  50% {
    transform: translateX(50%); /* Конечная позиция (справа) */
  }
  100% {
    transform: translateX(-70%); /* Возвращение в начальную позицию (слева) */
  }
}
.main .work__content .texts__container-2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100vw;
  position: relative;
  animation: move-right-left 120s linear infinite;
}
.main .work__content .texts__container-2 .text-item-2,
.main .work__content .texts__container-2 .text-item-3,
.main .work__content .texts__container-2 .text-item-4 {
  font-size: 128px;
  font-weight: 700;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .main .work__content .texts__container-2 .text-item-2,
  .main .work__content .texts__container-2 .text-item-3,
  .main .work__content .texts__container-2 .text-item-4 {
    font-size: 48px;
  }
}
.main .work__content .texts__container-2 .text-item-2 {
  color: #181818;
  text-shadow: -1px -1px 0 #444444, 1px -1px 0 #444444, -1px 1px 0 #444444, 1px 1px 0 #444444; /* Контур */
  background-color: transparent; /* Без фона */
}
.main .work__content .texts__container-2 .text-item-3 {
  color: #954CED;
}
.main .work__content .texts__container-2 .text-item-4 {
  color: #181818;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; /* Контур */
  background-color: transparent; /* Без фона */
}
@keyframes move-right-left {
  0% {
    transform: translateX(100%); /* Начальная позиция (справа) */
  }
  50% {
    transform: translateX(-50%); /* Центр (внутри) */
  }
  100% {
    transform: translateX(100%); /* Возвращение в конечную позицию (справа) */
  }
}
.main .work__content .texts__container-3 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100vw;
  position: relative;
  right: 20vw; /* Перемещение за пределы браузера */
  animation: move-left-right 50s linear infinite;
}
.main .work__content .texts__container-3 .text-item-5,
.main .work__content .texts__container-3 .text-item-2 {
  font-size: 128px;
  font-weight: 700;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .main .work__content .texts__container-3 .text-item-5,
  .main .work__content .texts__container-3 .text-item-2 {
    font-size: 48px;
  }
}
.main .work__content .texts__container-3 .text-item-2 {
  color: #181818;
  text-shadow: -1px -1px 0 #444444, 1px -1px 0 #444444, -1px 1px 0 #444444, 1px 1px 0 #444444; /* Контур */
  background-color: transparent; /* Без фона */
}
.main .work__content .texts__container-3 .text-item-5 {
  color: #FFAA4C;
}
@keyframes move-left-right {
  0% {
    transform: translateX(-50%); /* Начальная позиция (слева) */
  }
  50% {
    transform: translateX(50%); /* Конечная позиция (справа) */
  }
  100% {
    transform: translateX(-50%); /* Возвращение в начальную позицию (слева) */
  }
}
@media (max-width: 768px) {
  .main .work__content .texts {
    gap: 90px;
  }
}
@media (max-width: 1366px) {
  .main .work__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 72px;
    padding-right: 72px;
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  .main .work__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .main .work__content {
    justify-content: center;
  }
}
@media (max-width: 1280px) {
  .main .work {
    margin-top: 0;
  }
}
@media (max-width: 1024px) {
  .main .work {
    height: 750px;
  }
}
@media (max-width: 768px) {
  .main .work {
    height: 540px;
  }
}
.main .statistics {
  height: 222px;
  width: 100%;
  background-color: #954CED;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .statistics__content {
  max-width: 1260px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.main .statistics__content .text-item {
  width: 217px;
}
.main .statistics__content .text-item h3 {
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .main .statistics__content .text-item h3 {
    font-size: 32px;
    font-weight: 700;
  }
}
.main .statistics__content .text-item p {
  font-size: 24px;
  font-weight: 200;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .main .statistics__content .text-item p {
    font-size: 16px;
    font-weight: 200;
  }
}
@media (max-width: 1024px) {
  .main .statistics__content .text-item {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
}
@media (max-width: 1366px) {
  .main .statistics__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 72px;
    padding-right: 72px;
    justify-content: space-evenly;
  }
}
@media (max-width: 1024px) {
  .main .statistics__content {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media (max-width: 1366px) {
  .main .statistics {
    margin-top: 60px;
  }
}
.main .why {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .why__content {
  max-width: 1260px;
  width: 100%;
  padding: 100px 0;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 70px;
}
.main .why__content .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 664px;
  position: relative;
}
@media (max-width: 768px) {
  .main .why__content .title {
    width: 350px;
  }
}
.main .why__content .title h1 {
  font-size: 96px;
  font-weight: 700;
  color: #ffffff;
  line-height: 106px;
}
@media (max-width: 1366px) {
  .main .why__content .title h1 {
    font-size: 80px;
    line-height: 90px;
  }
}
@media (max-width: 768px) {
  .main .why__content .title h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
.main .why__content .title p {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 768px) {
  .main .why__content .title p {
    font-size: 24px;
  }
}
.main .why__content .title .circle {
  position: absolute;
  right: 147px;
  bottom: 3px;
  width: 373px;
  height: 35px;
  border-radius: 50px;
  background-color: #954CED;
  z-index: -1;
  transform: rotate(358deg);
}
@media (max-width: 768px) {
  .main .why__content .title .circle {
    position: absolute;
    right: 0px;
    bottom: -1px;
    width: 248px;
    height: 29px;
  }
}
.main .why__content .grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  width: 100%;
}
@media (max-width: 1200px) {
  .main .why__content .grid-container {
    display: flex;
    flex-direction: column;
  }
}
.main .why__content .grid-container .grid-item {
  background-color: #f0f0f0;
  padding: 24px;
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 30px;
  height: 362px;
  overflow: hidden;
}
@media (max-width: 1366px) {
  .main .why__content .grid-container .grid-item {
    height: 336px;
  }
}
@media (max-width: 660px) {
  .main .why__content .grid-container .grid-item {
    padding: 20px;
    height: 362px;
  }
}
.main .why__content .grid-container .grid-item h2 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  color: #181818;
}
@media (max-width: 1366px) {
  .main .why__content .grid-container .grid-item h2 {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (max-width: 660px) {
  .main .why__content .grid-container .grid-item h2 {
    font-size: 32px;
    line-height: 38px;
  }
}
.main .why__content .grid-container .grid-item p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #181818;
}
@media (max-width: 660px) {
  .main .why__content .grid-container .grid-item p {
    font-size: 16px;
    line-height: 18px;
  }
}
.main .why__content .grid-container .item1 {
  grid-column: 1/span 6;
  grid-row: 1;
  position: relative;
}
.main .why__content .grid-container .item1 h2, .main .why__content .grid-container .item1 p {
  margin-left: 300px;
}
@media (max-width: 660px) {
  .main .why__content .grid-container .item1 h2, .main .why__content .grid-container .item1 p {
    margin-left: 0;
  }
}
.main .why__content .grid-container .item1 .item1-img {
  position: absolute;
  left: -105px;
  bottom: -44px;
}
@media (max-width: 660px) {
  .main .why__content .grid-container .item1 .item1-img {
    left: -36px;
    bottom: -74px;
    transform: rotate(342deg);
    width: 250px;
    height: auto;
  }
}
.main .why__content .grid-container .item2 {
  grid-column: 7/span 4;
  grid-row: 1;
  position: relative;
}
.main .why__content .grid-container .item2 h2, .main .why__content .grid-container .item2 p {
  margin-right: 60px;
}
@media (max-width: 660px) {
  .main .why__content .grid-container .item2 h2, .main .why__content .grid-container .item2 p {
    margin-right: 0;
  }
}
.main .why__content .grid-container .item2 .item21-img {
  position: absolute;
  left: 72px;
  bottom: -24px;
}
@media (max-width: 660px) {
  .main .why__content .grid-container .item2 .item21-img {
    left: 60px;
    bottom: -5px;
  }
}
.main .why__content .grid-container .item2 .item22-img {
  position: absolute;
  right: 60px;
  bottom: 0;
}
@media (max-width: 660px) {
  .main .why__content .grid-container .item2 .item22-img {
    left: 160px;
    bottom: 0;
  }
}
.main .why__content .grid-container .item2 .item23-img {
  position: absolute;
  right: -10px;
  top: 80px;
}
@media (max-width: 660px) {
  .main .why__content .grid-container .item2 .item23-img {
    right: -10px;
    top: 195px;
  }
}
.main .why__content .grid-container .item3 {
  grid-column: 1/span 4;
  grid-row: 2;
  position: relative;
}
.main .why__content .grid-container .item3 .item31-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.main .why__content .grid-container .item4 {
  grid-column: 5/span 6;
  grid-row: 2;
  position: relative;
}
.main .why__content .grid-container .item4 h2, .main .why__content .grid-container .item4 p {
  margin-right: 270px;
}
@media (max-width: 660px) {
  .main .why__content .grid-container .item4 h2, .main .why__content .grid-container .item4 p {
    margin-right: 0;
  }
}
.main .why__content .grid-container .item4 .item41-img {
  position: absolute;
  right: 40px;
  bottom: 0;
}
@media (max-width: 660px) {
  .main .why__content .grid-container .item4 .item41-img {
    right: 51px;
    bottom: -21px;
    width: 130px;
    height: auto;
  }
}
@media (max-width: 1366px) {
  .main .why__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 72px;
    padding-right: 72px;
    justify-content: space-evenly;
  }
}
@media (max-width: 1024px) {
  .main .why__content {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.main .contacts {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
.main .contacts__content {
  max-width: 1260px;
  width: 100%;
  padding: 100px 0;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  justify-content: space-evenly;
}
@media (max-width: 1366px) {
  .main .contacts__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 72px;
    padding-right: 72px;
    justify-content: space-evenly;
  }
}
@media (max-width: 1024px) {
  .main .contacts__content {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .main .contacts__content {
    gap: 40px;
  }
}
.main .contacts__content .block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #cccccc;
  width: 100%;
  height: 285px;
  border-radius: 60px;
}
@media (max-width: 768px) {
  .main .contacts__content .block {
    height: auto;
    padding: 40px;
    gap: 40px;
  }
}
.main .contacts__content .block h1 {
  font-size: 64px;
  font-weight: 700;
  color: #181818;
  text-align: center;
}
@media (max-width: 768px) {
  .main .contacts__content .block h1 {
    font-size: 40px;
  }
}
.main .contacts__content .block .btn {
  width: auto;
  height: 60px;
  padding: 16px 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  background-color: #954CED;
  border-radius: 16px;
}
.main .contacts__content .block .btn:hover {
  background-color: #181818;
}
.main .contacts__content .social {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .main .contacts__content .social {
    flex-direction: column;
    align-items: center;
  }
}
.main .contacts__content .social .title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 822px;
}
@media (max-width: 900px) {
  .main .contacts__content .social .title {
    width: 100%;
  }
}
.main .contacts__content .social .title h1 {
  font-size: 96px;
  font-weight: 700;
  color: #181818;
}
@media (max-width: 768px) {
  .main .contacts__content .social .title h1 {
    font-size: 40px;
  }
}
.main .contacts__content .social .title p {
  font-size: 20px;
  font-weight: 400;
  color: #181818;
}
.main .contacts__content .social .socials-icons {
  width: 410px;
  height: 230px;
  position: relative;
}
@media (max-width: 768px) {
  .main .contacts__content .social .socials-icons {
    width: 320px;
  }
}
@media (max-width: 768px) {
  .main .contacts__content .social .socials-icons .Facebook-img,
  .main .contacts__content .social .socials-icons .Instagram-img,
  .main .contacts__content .social .socials-icons .Twitter-img,
  .main .contacts__content .social .socials-icons .TikTok-img {
    width: 64px;
    height: auto;
  }
}
.main .contacts__content .social .socials-icons .Facebook-img {
  position: absolute;
  right: 320px;
  top: 30px;
}
@media (max-width: 768px) {
  .main .contacts__content .social .socials-icons .Facebook-img {
    left: 0;
    top: 30px;
  }
}
.main .contacts__content .social .socials-icons .Instagram-img {
  position: absolute;
  right: 110px;
  top: 30px;
}
@media (max-width: 768px) {
  .main .contacts__content .social .socials-icons .Instagram-img {
    right: 85px;
  }
}
.main .contacts__content .social .socials-icons .Twitter-img {
  position: absolute;
  right: 210px;
  top: 140px;
}
@media (max-width: 768px) {
  .main .contacts__content .social .socials-icons .Twitter-img {
    left: 92px;
  }
}
.main .contacts__content .social .socials-icons .TikTok-img {
  position: absolute;
  right: 0px;
  top: 140px;
}
.main .contacts__content .logos {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .main .contacts__content .logos {
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .main .contacts__content .logos {
    padding: 50px 0;
  }
}
.main .contacts__content .logos .logo1,
.main .contacts__content .logos .logo2,
.main .contacts__content .logos .logo3,
.main .contacts__content .logos .logo4,
.main .contacts__content .logos .logo5 {
  max-height: 100%;
  height: auto;
  width: auto;
}
.main .contacts__content .logos .logo3 {
  max-height: 100%;
  height: 48px;
  width: 182px;
}
.main .contacts__content .logos .logo4 {
  height: 40px;
  width: 277px;
}
.main .contacts__content .logos .logo5 {
  height: 46px;
  width: 184px;
}

.footer {
  height: 190px;
  width: 100%;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .footer {
    height: auto;
  }
}
.footer__content {
  max-width: 1260px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  justify-content: space-evenly;
}
.footer__content .logo-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.footer__content .logo-btn .logo__img {
  width: 157px;
}
@media (max-width: 1024px) {
  .footer__content .logo-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
  }
  .footer__content .logo-btn .appstore__img,
  .footer__content .logo-btn .googleplay__img {
    width: 194px;
  }
}
.footer__content .logo-btn .apps {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
@media (max-width: 1024px) {
  .footer__content .logo-btn .apps {
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .footer__content .logo-btn .apps {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
.footer__content .logo-btn .apps .btn {
  width: auto;
  height: 60px;
  padding: 16px 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  background-color: #954CED;
  border-radius: 16px;
  border: 2px solid transparent;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .footer__content .logo-btn .apps .btn {
    width: 184px;
  }
}
.footer__content .logo-btn .apps .btn:hover {
  border: 2px solid #954CED;
  background-color: #181818;
}
.footer__content hr {
  width: 100%;
  border: 1px solid #444444;
}
.footer__content .copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #B9B9B9;
  font-size: 14px;
  font-weight: 200;
  width: 100%;
}
.footer__content .copyright .links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer__content .copyright .links {
    display: none;
  }
}
.footer__content .copyright .links__item {
  color: #B9B9B9;
  font-size: 14px;
  font-weight: 200;
  text-decoration: underline;
  cursor: pointer;
}
.footer__content .copyright .links__item:hover {
  color: #954CED;
}
@media (max-width: 1366px) {
  .footer__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 72px;
    padding-right: 72px;
    justify-content: space-evenly;
  }
}
@media (max-width: 1024px) {
  .footer__content {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */