@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$title-font-family: "Outfit", serif;
$text-font-family: "Outfit", sans-serif;
$main-background-color: #181818;
$accent-color: #954CED;
$text-color: #ffffff;

body {
  background-color: $main-background-color;
  font-family: $text-font-family;
}

.header {
  position: fixed;
  background-color: $main-background-color;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  &__content {
    max-width: 1260px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .logo__img {
      height: auto;
    }

    .btn{
      width: auto;
      height: 60px;
      padding: 16px 30px;
      color: $text-color;
      font-size: 20px;
      font-weight: 500;
      background-color: $accent-color;
      border-radius: 16px;
      border: 2px solid transparent;
      box-sizing: border-box;

      &:hover{
        border: 2px solid $accent-color;
        background-color: $main-background-color;
      }
    }

    .burger {
      display: none;

      svg {
        width: 30px;
        height: 30px;
        fill: $text-color;
      }
    }

    @media (max-width: 1366px) {
      padding-left: 72px;
      padding-right: 72px;
    }

    @media (max-width: 1024px) {
      padding-left: 20px;
      padding-right: 20px;

      .btn {
        display: none;
      }

      .burger {
        display: flex;
        fill: $text-color;
      }
    }
  }
}

.main {
  // height: 100vh;
  // margin-bottom: 190px;

  .hero{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .hero-img{
      right: 0;
      bottom: 0;
      position: absolute;

      @media (max-width: 1366px) {
        width: 480px;
        height: auto;
      }

      @media (max-width: 1024px) {
        width: 400px;
        height: auto;
      }

      @media (max-width: 768px) {
        width: 300px;
        height: auto;
      }
    }

    &__content{
      max-width: 1260px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      .title-block{
        width: 671px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 24px;

        h1{
          font-size: 96px;
          font-weight: 700;
          color: $text-color;
          line-height: 106px;

          @media (max-width: 1366px) {
            font-size: 80px;
            line-height: 90px;
          }

          @media (max-width: 768px) {
            font-size: 40px;
            line-height: 50px;
          }
        }

        p{
          font-size: 20px;
          font-weight: 200;
          color: $text-color;

          @media (max-width: 768px) {
            font-size: 16px;
            width: 100%;
          }
        }

        .btn{
          width: 184px;
          height: 60px;
          padding: 16px 30px;
          color: $text-color;
          font-size: 20px;
          font-weight: 500;
          background-color: $accent-color;
          border-radius: 16px;
          border: 2px solid transparent;
          box-sizing: border-box;
    
          &:hover{
            border: 2px solid $accent-color;
            background-color: $main-background-color;
          }

          @media (max-width: 768px) {
            width: 100%;
          }
        }

        @media (max-width: 1366px) {
          margin-top: 150px;
          width: 600px;
        }

        @media (max-width: 768px) {
          width: 100%;
        }
      }

      @media (max-width: 1366px) {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 72px;
        padding-right: 72px;
        justify-content: flex-start;
      }

      @media (max-width: 1024px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    @media (max-width: 1024px) {
      height: 750px;
    }
  }

  .about{
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;

    .about-img{
      left: 0;
      bottom: 0;
      position: absolute;

      @media (max-width: 1280px) {
        display: none;
      }
    }

    &__content{
      max-width: 1260px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      h1{
        font-size: 96px;
        font-weight: 700;
        color: $text-color;
        line-height: 106px;

        @media (max-width: 1366px) {
          font-size: 80px;
          line-height: 90px;
        }

        @media (max-width: 768px) {
          font-size: 40px;
          line-height: 50px;
        }
      }

      .info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 90px;

        .subtitle{
          width: 410px;
          height: 140px;
          font-size: 36px;
          font-weight: 600;
          color: $text-color;
          position: relative;
  
          .circle{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 355px;
            height: 35px;
            border-radius: 50px;
            background-color: $accent-color;
            z-index: -1;
            transform: rotate(358deg);

            @media (max-width: 768px) {
              width: 235px;
              height: 22px;
            }
          }

          @media (max-width: 768px) {
            font-size: 24px;
            font-weight: 500;
            width: 264px;
            height: 89px;
          }
        }
  
        .grid-container {
          display: grid;
          width: 692px;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
  
          .grid-item {
            border-radius: 8px;
  
            h3{
              font-size: 48px;
              font-weight: 700;
              color: $text-color;

              @media (max-width: 768px) {
                font-size: 32px;
                font-weight: 700;
              }
            }
  
            p{
              font-size: 24px;
              font-weight: 200;
              color: $text-color;

              @media (max-width: 768px) {
                font-size: 16px;
                font-weight: 200;
              }
            }
          }
        
          .grid-item img {
            max-width: 100%; /* чтобы изображение не выходило за пределы блока */
            height: auto; /* сохраняем пропорции */
          }

          @media (max-width: 1280px) {
            width: 100%;
          }

          @media (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 60px;
          }
        }

        @media (max-width: 1280px) {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 40px;
          margin-top: 30px;
        }
      }

      @media (max-width: 1366px) {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 72px;
        padding-right: 72px;
        justify-content: flex-start;
      }

      @media (max-width: 1024px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    @media (max-width: 1366px) {
      margin-top: 60px;
    }

    @media (max-width: 768px) {
      height: auto;
    }
  }

  .work{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
    overflow: hidden;

    .mockup-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      @media (max-width: 768px) {
        width: 228px;
        height: auto;
      }
    }
  

    &__content{
      max-width: 1260px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      .texts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Центрирование по горизонтали */
        width: 100%;
        gap: 60px;
        position: relative;

        &__container-1{
          display: flex;
          flex-direction: row;
          gap: 16px;
          width: 100vw;
          position: relative;
          left: -10vw; /* Перемещение за пределы браузера */
          animation: move-left-right 190s linear infinite;

          .text-item-1,
          .text-item-2{
            font-size: 128px;
            font-weight: 700;
            white-space: nowrap;

            @media (max-width: 768px) {
              font-size: 48px;
            }
          }

          .text-item-1{
            color: #2FDBBC;
          }

          .text-item-2 {
            color: $main-background-color;
            text-shadow: 
                -1px -1px 0 #444444,  
                1px -1px 0 #444444,
                -1px  1px 0 #444444,
                1px  1px 0 #444444; /* Контур */
            background-color: transparent; /* Без фона */
          }

          @keyframes move-left-right {
            0% {
                transform: translateX(-70%); /* Начальная позиция (слева) */
            }
            50% {
                transform: translateX(50%); /* Конечная позиция (справа) */
            }
            100% {
                transform: translateX(-70%); /* Возвращение в начальную позицию (слева) */
            }
          }
        }

        &__container-2{
          display: flex;
          flex-direction: row;
          gap: 16px;
          width: 100vw;
          position: relative;
          animation: move-right-left 120s linear infinite;

          .text-item-2,
          .text-item-3,
          .text-item-4{
            font-size: 128px;
            font-weight: 700;
            white-space: nowrap;

            @media (max-width: 768px) {
              font-size: 48px;
            }
          }

          .text-item-2 {
            color: $main-background-color;
            text-shadow: 
                -1px -1px 0 #444444,  
                1px -1px 0 #444444,
                -1px  1px 0 #444444,
                1px  1px 0 #444444; /* Контур */
            background-color: transparent; /* Без фона */
          }

          .text-item-3{
            color: $accent-color;
          }

          .text-item-4 {
            color: $main-background-color;
            text-shadow: 
                -1px -1px 0 #ffffff,  
                1px -1px 0 #ffffff,
                -1px  1px 0 #ffffff,
                1px  1px 0 #ffffff; /* Контур */
            background-color: transparent; /* Без фона */
          }

          @keyframes move-right-left {
            0% {
                transform: translateX(100%); /* Начальная позиция (справа) */
            }
            50% {
                transform: translateX(-50%); /* Центр (внутри) */
            }
            100% {
                transform: translateX(100%); /* Возвращение в конечную позицию (справа) */
            }
          }
        }

        &__container-3{
          display: flex;
          flex-direction: row;
          gap: 16px;
          width: 100vw;
          position: relative;
          right: 20vw; /* Перемещение за пределы браузера */
          animation: move-left-right 50s linear infinite;

          .text-item-5,
          .text-item-2{
            font-size: 128px;
            font-weight: 700;
            white-space: nowrap;

            @media (max-width: 768px) {
              font-size: 48px;
            }
          }

          .text-item-2 {
            color: $main-background-color;
            text-shadow: 
                -1px -1px 0 #444444,  
                1px -1px 0 #444444,
                -1px  1px 0 #444444,
                1px  1px 0 #444444; /* Контур */
            background-color: transparent; /* Без фона */
          }

          .text-item-5{
            color: #FFAA4C;
          }

          @keyframes move-left-right {
            0% {
                transform: translateX(-50%); /* Начальная позиция (слева) */
            }
            50% {
                transform: translateX(50%); /* Конечная позиция (справа) */
            }
            100% {
                transform: translateX(-50%); /* Возвращение в начальную позицию (слева) */
            }
          }
        }

        @media (max-width: 768px) {
          gap: 90px;
        }
      }

      @media (max-width: 1366px) {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 72px;
        padding-right: 72px;
        justify-content: flex-start;
      }

      @media (max-width: 1024px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (max-width: 768px) {
        justify-content: center;
      }
    }

    @media (max-width: 1280px) {
      margin-top: 0;
    }

    @media (max-width: 1024px) {
      height: 750px;
    }

    @media (max-width: 768px) {
      height: 540px;
    }
  }

  .statistics{
    height: 222px;
    width: 100%;
    background-color: $accent-color;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content{
      max-width: 1260px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content:  space-evenly;

      .text-item{
        width: 217px;

        h3{
          font-size: 64px;
          font-weight: 700;
          color: $text-color;
  
          @media (max-width: 1024px) {
            font-size: 32px;
            font-weight: 700;
          }
        }
  
        p{
          font-size: 24px;
          font-weight: 200;
          color: $text-color;
  
          @media (max-width: 1024px) {
            font-size: 16px;
            font-weight: 200;
          }
        }

        @media (max-width: 1024px) {
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 20px;
        }
      }

      @media (max-width: 1366px) {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-left: 72px;
        padding-right: 72px;
        justify-content: space-evenly;
      }

      @media (max-width: 1024px) {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
    }

    @media (max-width: 1366px) {
      margin-top: 60px;
    }
  }

  .why{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content{
      max-width: 1260px;
      width: 100%;
      padding: 100px 0;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content:  space-evenly;
      gap: 70px;

      .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 664px;
        position: relative;

        @media (max-width: 768px) {
          width: 350px;
        }

        h1{
          font-size: 96px;
          font-weight: 700;
          color: $text-color;
          line-height: 106px;
  
          @media (max-width: 1366px) {
            font-size: 80px;
            line-height: 90px;
          }
  
          @media (max-width: 768px) {
            font-size: 40px;
            line-height: 50px;
          }
        }

        p{
          font-size: 36px;
          font-weight: 600;
          color: $text-color;
          text-align: center;

          @media (max-width: 768px) {
            font-size: 24px;
          }
        }

        .circle{
          position: absolute;
          right: 147px;
          bottom: 3px;
          width: 373px;
          height: 35px;
          border-radius: 50px;
          background-color: $accent-color;
          z-index: -1;
          transform: rotate(358deg);

            @media (max-width: 768px) {
              position: absolute;
              right: 0px;
              bottom: -1px;
              width: 248px;
              height: 29px;
            }
        }
      }

      .grid-container {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto auto;
        gap: 20px;
        width: 100%;

        @media (max-width: 1200px) {
          display: flex;
          flex-direction: column;
        }

        .grid-item {
          background-color: #f0f0f0;
          padding: 24px;
          border: 1px solid #ccc;
          text-align: left;
          border-radius: 30px;
          height: 362px;
          overflow: hidden;

          @media (max-width: 1366px) {
            height: 336px;
          }

          @media (max-width: 660px) {
            padding: 20px;
            height: 362px;
          }

          h2 {
            margin: 0 0 10px 0;
            font-size: 48px;
            font-weight: 600;
            line-height: 54px;
            color: $main-background-color;

            @media (max-width: 1366px) {
              font-size: 36px;
              line-height: 42px;
            }

            @media (max-width: 660px) {
              font-size: 32px;
              line-height: 38px;
            }
          }
        
          p {
            margin: 0;
            font-size: 20px;
            font-weight: 400;
            color: $main-background-color;

            @media (max-width: 660px) {
              font-size: 16px;
              line-height: 18px;
            }
          }
        }

        .item1 {
          grid-column: 1 / span 6;
          grid-row: 1;
          position: relative;

          h2, p {
            margin-left: 300px;

            @media (max-width: 660px) {
              margin-left: 0;
            }
          }

          .item1-img{
            position: absolute;
            left: -105px;
            bottom: -44px;

            @media (max-width: 660px) {
              left: -36px;
              bottom: -74px;
              transform: rotate(342deg);
              width: 250px;
              height: auto;
            }
          }
        }

        .item2 {
          grid-column: 7 / span 4;
          grid-row: 1;
          position: relative;

          h2, p {
            margin-right: 60px;

            @media (max-width: 660px) {
              margin-right: 0;
            }
          }

          .item21-img {
            position: absolute;
            left: 72px;
            bottom: -24px;

            @media (max-width: 660px) {
              left: 60px;
              bottom: -5px;
            }
          }

          .item22-img {
            position: absolute;
            right: 60px;
            bottom: 0;

            @media (max-width: 660px) {
              left: 160px;
              bottom: 0;
            }
          }

          .item23-img {
            position: absolute;
            right: -10px;
            top: 80px;

            @media (max-width: 660px) {
              right: -10px;
              top: 195px;
            }
          }
        }

        .item3 {
          grid-column: 1 / span 4;
          grid-row: 2;
          position: relative;

          .item31-img {
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }

        .item4 {
          grid-column: 5 / span 6;
          grid-row: 2;
          position: relative;

          h2, p {
            margin-right: 270px;

            @media (max-width: 660px) {
              margin-right: 0;
            }
          }

          .item41-img {
            position: absolute;
            right: 40px;
            bottom: 0;

            @media (max-width: 660px) {
              right: 51px;
              bottom: -21px;
              width: 130px;
              height: auto;
            }
          }
        }
      }

      @media (max-width: 1366px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 72px;
        padding-right: 72px;
        justify-content: space-evenly;
      }

      @media (max-width: 1024px) {
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }

  .contacts{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;

    &__content{
      max-width: 1260px;
      width: 100%;
      padding: 100px 0;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 100px;
      justify-content:  space-evenly;

      @media (max-width: 1366px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 72px;
        padding-right: 72px;
        justify-content: space-evenly;
      }

      @media (max-width: 1024px) {
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      @media (max-width: 768px) {
        gap: 40px;
      }

      .block{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid #cccccc;
        width: 100%;
        height: 285px;
        border-radius: 60px;

        @media (max-width: 768px) {
          height: auto;
          padding: 40px;
          gap: 40px;
        }

        h1{
          font-size: 64px;
          font-weight: 700;
          color: $main-background-color;
          text-align: center;

          @media (max-width: 768px) {
            font-size: 40px;
          }
        }

        .btn{
          width: auto;
          height: 60px;
          padding: 16px 30px;
          color: $text-color;
          font-size: 20px;
          font-weight: 500;
          background-color: $accent-color;
          border-radius: 16px;
    
          &:hover{
            background-color: $main-background-color;
          }
        }
      }

      .social{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 1024px) {
          flex-direction: column;
          align-items: center;
        }

        .title{
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 822px;

          @media (max-width: 900px) {
            width: 100%;
          }

          h1{
            font-size: 96px;
            font-weight: 700;
            color: $main-background-color;

            @media (max-width: 768px) {
              font-size: 40px;
            }
          }

          p{
            font-size: 20px;
            font-weight: 400;
            color: $main-background-color;
          }
        }

        .socials-icons{
          width: 410px;
          height: 230px;
          position: relative;

          @media (max-width: 768px) {
            width: 320px;
          }

          .Facebook-img,
          .Instagram-img,
          .Twitter-img,
          .TikTok-img{
            @media (max-width: 768px) {
              width: 64px;
              height: auto;
            }
          }

          .Facebook-img{
            position: absolute;
            right: 320px;
            top: 30px;

            @media (max-width: 768px) {
              left: 0;
              top: 30px;
            }
          }
  
          .Instagram-img{
            position: absolute;
            right: 110px;
            top: 30px;

            @media (max-width: 768px) {
              right: 85px;
            }
          }
  
          .Twitter-img{
            position: absolute;
            right: 210px;
            top: 140px;

            @media (max-width: 768px) {
              left: 92px;
            }
          }
  
          .TikTok-img{
            position: absolute;
            right: 0px;
            top: 140px;
          }
        }
      }

      .logos{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width: 1024px) {
          justify-content: flex-start;
        }

        @media (max-width: 768px) {
          padding: 50px 0;
        }

        .logo1,
        .logo2,
        .logo3,
        .logo4,
        .logo5{
          max-height: 100%;
          height: auto;
          width: auto;
        }

        .logo3{
          max-height: 100%;
          height: 48px;
          width: 182px;
        }

        .logo4{
          height: 40px;
          width: 277px;
        }

        .logo5{
          height: 46px;
          width: 184px;
        }

      }
    }
  }
}

.footer{
  height: 190px;
  width: 100%;
  background-color: $main-background-color;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1024px) {
    height: auto;
  }

  &__content{
    max-width: 1260px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    justify-content:  space-evenly;

    .logo-btn{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .logo__img{
        width: 157px;
      }

      @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 16px;

        .appstore__img,
        .googleplay__img{
          width: 194px;
        }
      }

      .apps{
        display: flex;
        flex-direction: row;
        gap: 40px;

        @media (max-width: 1024px) {
          justify-content: space-between;
          width: 100%;
        }

        @media (max-width: 768px) {
          display: flex;
          flex-direction: column;
          gap: 32px;
        }
  
        .btn{
          width: auto;
          height: 60px;
          padding: 16px 30px;
          color: $text-color;
          font-size: 20px;
          font-weight: 500;
          background-color: $accent-color;
          border-radius: 16px;
          border: 2px solid transparent;
          box-sizing: border-box;

          @media (max-width: 768px) {
            width: 184px;
          }
    
          &:hover{
            border: 2px solid $accent-color;
            background-color: $main-background-color;
          }
        }
      }
    }

    hr{
      width: 100%;
      border: 1px solid #444444;
    }

    .copyright{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #B9B9B9;
      font-size: 14px;
      font-weight: 200;
      width: 100%;

      .links{
        display: flex;
        flex-direction: row;
        gap: 20px;

        @media (max-width: 768px) {
          display: none;
        }

        &__item{
          color: #B9B9B9;
          font-size: 14px;
          font-weight: 200;
          text-decoration: underline;
          cursor: pointer;

          &:hover{
            color: $accent-color;
          }
        }
      }
    }

    @media (max-width: 1366px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-left: 72px;
      padding-right: 72px;
      justify-content: space-evenly;
    }

    @media (max-width: 1024px) {
      padding: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}